* {
    font-family: 'Segoe UI', sans-serif;
}

a {
    cursor: pointer;
}

h3 {
    margin: 10px 0px 5px;
}

iframe {
    width: 100%;
    border: none;
    display: block;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

img:hover {
    transform: scale(1.05,1.05);
}

.Container {
    max-width: calc(1300px - 100px);
    width: calc(100% - 100px);
    padding: 0px 50px;
    margin: auto;
}

a {
    text-decoration: none;
}

body {
    margin: 65px 0 0 0;
    position: relative;
    background-color: white;
}

.body {
    background-color: #f8f9fb;
    padding: 60px 0px 80px 0px;
    text-align: center;
}

header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    backdrop-filter: blur(10px);
    background-color: #ffffffe0;
}

.navbar {
    height: 65px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    gap: 40px;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 1000;
}

.logo-yellow {
    color: #eab308;
}

.logo-green {
    color: #16a34a;
}

.nav-links {
    gap: 24px;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.nav-links a {
    transition: color 0.3s;
    font-weight: 500;
    color: #2c3e50;
    font-size: 15px;
}

.nav-links a:hover {
    color: #16a34a;
}

.nav-actions {
    gap: 16px;
    display: flex;
    align-items: center;
}

.nav-actions a {
    display: inline-flex;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.menu-toggle:hover {
    color: #16a34a;
}

.mobile-menu {
    padding: 20px 0;
    display: none;
    background-color: white;
}

.radio-item {
    margin: 5px 0;
    display: block;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
}

.radio-item input[type="radio"] {
    display: none;
}

.radio-item span {
    padding: 7px;
    display: block;
    color: #1f2937;
}

.radio-item:hover span {
    background-color: #f3f4f6;
}

.radio-item input[type="radio"]:checked+span {
    background-color: #dcfce7;
    color: #15803d;
}

.cart {
    font-size: 24px;
    color: #2c3e50;
}

.login {
    gap: 8px;
    font-size: 15px;
    font-weight: 500;
    color: #16a34a;
    padding: 5px 10px;
    border-radius: 8px;
    align-items: center;
    border: 1.5px solid #16a34a;
    transition: background-color 0.2s;
}

.login:hover {
    background-color: #16a34a20;
}

footer {
    font-family: 'Segoe UI', sans-serif;
    padding: 40px 0px 20px 0px;
    background-color: #124e2f;
    color: #e6f4ea;
}

.footer-container {
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    gap: 40px;
}

.footer-column {
    min-width: 250px;
    flex: 1;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
    margin: 10px 0px;
    display: flex;
    gap: 10px;
}

.footer-column ul li a {
    color: #ffffffb0;
    transition: color 0.2s;
}

.footer-column ul li a:hover {
    color: white;
}

.social-icons {
    align-items: center;
}

.contact-info i,
.social-icons i {
    margin-right: 8px;
}

.social-icons a {
    color: #e6f4ea;
    font-size: 18px;
    margin-right: 12px;
    transition: color 0.3s;
}

.svgstroke:hover {
    stroke: white;
}

.svgfill:hover {
    fill: white;
}

.social-icons span {
    color: #ffffffb0;
}

.social-icons a:hover {
    color: #facc15;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 32px;
    text-align: center;
    padding-top: 16px;
    font-size: 14px;
    color: #b9e0d1;
}

.header {
    margin-bottom: 50px !important;
}

.header h2, 
.slide h2 {
    margin: 0px;
    font-size: 30px;
    font-weight: 700;
    color: #1f2937;
}

.header p,
.slide p {
    margin: 10px 0px;
    font-size: 18px;
    color: #6b7280;
}

.grid,
.grid1,
.grid2 {
    gap: 25px;
    display: grid;

}

.slide {
    padding: 50px 0px;
}

.slide-section {
    display: flex;
    color: white;
    overflow: hidden;
    position: relative;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #008000BF, #FFD700BF), url('Assets/Background_image.avif');
}

.slide-content {
    max-width: 600px;
    color: white;
    flex: 1;
}

.slide-label {
    background: rgba(255, 255, 255, 0.15);
    display: inline-block;
    border-radius: 100px;
    margin-bottom: 16px;
    padding: 6px 16px;
    font-weight: 500;
    font-size: 14px;
}

.slide-title {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 800;
    margin: 0 0 24px 0;
}

.slide-title .highlight {
    color: #facc15;
}

.slide-description {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.6;
    color: #f0fdf4 !important;
}

select {
    color: gray;
    padding: 10px;
    font-size: 15px;
    border-radius: 7px;
    outline: transparent;
    border: 1px solid #ddd;
    background-color: white;
}

select:focus {
    outline: #22c55e;
}

.slide-buttons {
    gap: 16px;
    display: flex;
}

.grid {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.grid1 {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.card {
    flex: 1;
    padding: 20px;
    overflow: hidden;
    text-align: left;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.card:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #6b7280;
}

.image-layout {
    overflow: hidden;
    height: 200px;
}

.product {
    padding: 0px !important;
}

.product-body {
    padding: 10px 20px;
}

.product-footer {
    margin: 10px 20px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price {
    font-size: 16px;
    font-weight: 700;
    color: #16a34a;
}

.add-btn {
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.add-btn svg {
    fill: #22c55e;
}

.add-btn:hover svg {
    fill: #16a34a;
}

.highlight {
    transition: border-color 0.05s ease, outline 0.05s ease;
}

.highlight:focus-within {
    border-color: #22c55e;
    outline: 3px solid #22c55e;
}

.circle {
    background-color: #d1fadf;
}

.select-item:hover {
    transform: translateY(-5px);
}

.icon {
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    margin-bottom: 15px;
    justify-content: center;
    transition: transform 0.6s ease;
}

.icon svg {
    height: 25px;
    width: 25px;
}

.scale,
.SlideInLeft,
.SlideInRight,
.SlideInBottom,
.SlideInTop {
    transform-origin: center center;
    transition: transform 0.3s ease;
}

.scale:hover {
    transform: scale(1.05, 1.05);
}

.SlideInLeft {
    animation: slideInLeft .5s ease-out;
}

.SlideInRight
{
    animation: slideInRight .5s ease-out;
}

.SlideInBottom {
    animation: slideInBottom .5s ease-out;
}

.SlideInTop {
    animation: slideInTop .5s ease-out;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(-5px);
    }
}

@keyframes sway {
    0%,
    100% {
        transform: rotate(30deg);
    }

    50% {
        transform: rotate(35deg);
    }
}

@keyframes sway1 {
    0%,
    100% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(5deg);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInTop {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInBottom {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (max-width:1000px) {

    .slide-visual,
    .promo-image,
    .story-image {
        display: none !important;
    }
}

@media only screen and (max-width:800px) {

    .nav-links {
        display: none !important;
    }
    .menu-toggle {
        display: block;
    }
}
@media only screen and (min-width:801px) {
    .mobile-menu,
    .menu-toggle {
        display: none !important;
    }
}
