* {
    text-align: justify;
}

body {
    margin: 0px;
    position: relative;
    font-family: 'arial', Times, serif;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #80bb35;
}

.footer-info {
    width: 80%;
    margin: auto;
    display: flex;
}

.listright {
    gap: 10px;
    right: 10px;
    bottom: 10%;
    width: 50px;
    height: 250px;
    display: flex;
    position: fixed;
    flex-direction: column;
}

a {
    white-space: nowrap;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    margin: 0px;
}

.list-product {
    flex-wrap: wrap;
    display: flex;
    height: auto;
    gap: 20px;
}

.product {
    border: 1px solid #CCC;
    border-radius: 10px;
    text-align: center;
    max-width: 300px;
    flex: 1 1 250px;
    height: 400px;
    float: left;
}

.product input[type="button"] {
    border: 0px;
    height: 40px;
    cursor: point;
    color: #FFF;
    cursor: pointer;
    border-radius: 10px;
    background-color: orange;
}

.product span {
    font-size: 14pt;
    font-weight: bold;
    line-height: 40px;
}

.product img {
    width: 100%;
    height: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

div {
    white-space: nowrap;
    height: 100%;
    width: 100%;
}

.mua-input {
    border: 0px;
    height: 40px;
    background-color: orange;
    border-radius: 10px;
    cursor: point;
    color: #FFF;
}

.sidebar-top {
    background-color: #80bb35;
    border-radius: 20px 20px 0 0; 
    font-size: 14pt;
    padding: 10px;
    color: white;
    margin: auto;
}

.ParentMenu {
    width: 100%;
    background-color: #80bb35;
}

.Menu1 {
    height: 50px;
    width: 100px;
    display: none;
}

#slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Menu {
    z-index: 1;
    width: 80%;
    margin: auto;
    display: flex;
    position: relative;
    flex-direction: row;
}

.Menu > div {
    width: auto;
}

.Menu div a {
    display: block;
    color: white;
    line-height: 30px;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
}

.Menu div div {
    width: auto;
    height: auto;
    display: flex;
    position: absolute;
    visibility: collapse;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 20px gray;
}

.Menu div div a {
    color: #303030;
    text-align: left;
    font-weight: normal;
    text-decoration: none;
}

.Menu div a:hover {
    background-color: #f39035;
}

.Menu div:hover div {
    visibility: visible;
}

.a-menu {
    display: flex;
    text-decoration: none;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    color: white;
    padding: 0 10px;
}

.container-content {
    width: 80%;
    margin: auto;
}

.container-content h3 {
    background-color: #80bb35;
    border-radius: 20px;
    color: white;
    padding: 10px;
}

.banner-item {
    width: 22%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.banner {
    background-color: white;
    padding-top: 40px;
    height: 120px;
    width: 100%;
}

.banner-item > div {
    width: 75%;
    height: 60px;
    margin-top: 10px;
    line-height: 30px;
    padding-left: 10px
}

.Body h3 {
    display: inline-block;
    margin: 20px 0;
}

.a-menu:hover {
    background-color: #fe9705;
}

.img-banner {
    cursor: pointer;
}

.b-banner {
    cursor: pointer;
}

.b-banner:hover {
    color: #80bb35;
 }

 .container {
     padding-right: 15px;
     padding-left: 15px;
     margin-right: auto;
     margin-left: auto;
 }

 .site-footer h3 {
     margin: 0px;
     color: white;
     padding: 13px 0;
     font-weight: 700;
     position: relative;
     margin-bottom: 10px;
     text-transform: uppercase;
 }

 .sidebar-show {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    width: 80%;
 }

.sidebar-show input[type="button"] {
    background-color: transparent;
    background-size: 50px 50px;
    position: absolute;
    object-fit: cover;
    cursor: pointer;
    border: none;
    height: 50px;
    width: 50px;
    top: 45%;
}

 .sidebar-show img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 .footer-list {
    background-color: transparent;
    color: white;
    margin: auto;
    height: 100%;
    padding: 25px;
    width: 20%;
 }

 .footer-list span {
    white-space: wrap;
 }

 footer ul {
    list-style-type: disc;
    padding-left: 20px;
    line-height: 2;
 }

.footer-container {
    justify-content: space-between;
    font-family: Arial, sans-serif;
    background-color: #557C2F;
    align-items: center;
    padding: 15px 10%;
    font-size: 14px;
    color: white;
    display: flex
}

#footer-right a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

 ul {
    display: flex;
    flex-direction: column;
    padding: 0px;
 }

 li {
    white-space: nowrap;
    float: left;
 }

 .ul-DanhMuc {
    margin: 0;
    list-style: none;
 }
 .ul-DanhMuc li {
    padding: 10px;
    border-bottom: 1px solid #CCC;
 }

li::marker {
    line-height: 1.2;
    font-size: 30px;
}

 li:hover::marker {
    color: #fe9705;
 }

.ListImage {
    height: auto;
    display: flex;
    margin: 50px auto;
    justify-content: space-between;
}

.ListImage img {
    width: 30%;
}

 .col-1 {
     width: 8.33%
 }

 .col-2 {
     width: 16.66%
 }

 .col-3 {
     width: 25%
 }

 .col-4 {
     width: 33.33%
 }

 .col-5 {
     width: 41.66%
 }

 .col-6 {
     width: 50%
 }

 .col-7 {
     width: 58.33%
 }

 .col-8 {
     width: 66.66%
 }

 .col-9 {
     width: 75%
 }

 .col-10 {
     width: 83.33%
 }

 .col-11 {
     width: 91.66%
 }

 .col-12 {
     width: 100%
 }

 [class*="col-"] {
     float: left;
     padding: 15px;

 }

    /*for_mobiles!*/
    @media only screen and (max-width:1000px) {
        .ListImage, #ket-noi-dualeo, #cart, #address {
            display: none !important;
        }
        .Menu > div {
            display: none;
        }
        .Menu1 {
            display: block !important;
        }
        .banner-item {
            width: 50%;
        }
    /*for_Tablets!*/
    }
    @media only screen and (max-width:1500px) {
        #logo {
            display: none;
        }
        .banner-item {
            width: 40%;
        }
    }